.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    height: 55px;
    background-color: white;
    align-items: center;
    /* make a 'scrolling' class making the shadow bigger when scrolling */
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    box-shadow: 0 -6px 5px 5px rgba(0,0,0,0.5);
    position: sticky; top: 0;
    z-index: 999;
}

.header * {
    font-size: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-bars {
    height: 25px;
    border-right: 2px solid gray;
    margin: 0 15px;
}
